.DS_Store
.thumbs.db
crud-basico/node_modules

# Quasar core related directories
crud-basico/.quasar
crud-basico/dist

# Cordova related directories and files
crud-basico/src-cordova/node_modules
crud-basico/src-cordova/platforms
crud-basico/src-cordova/plugins
crud-basico/src-cordova/www

# Capacitor related directories and files
crud-basico/src-capacitor/www
crud-basico/src-capacitor/node_modules

# BEX related directories and files
crud-basico/src-bex/www
crud-basico/src-bex/js/core

# Log files
crud-basico/npm-debug.log*
crud-basico/yarn-debug.log*
crud-basico/yarn-error.log*

# Editor directories and files
crud-basico/.idea
crud-basico/*.suo
crud-basico/*.ntvs*
crud-basico/*.njsproj
crud-basico/*.sln
